{% extends 'base.html.twig' %}

{% block meta %}
    <title>События</title>
{% endblock %}

{% block content %}
    <div class="events">
        <div class="events__wrapper block">
            <div class="events__content block__wrapper">
                <h1 class="events__title">События</h1>

                <div class="events__cols">
                    <div class="events__col events__col_left">

                        <div class="events-list">

                            {% include 'inform/list.html.twig' with {list: list} %}

                        </div>
                    </div>
                    <div class="events__col events__col_right">

                        <div class="events-nav">
                            <div class="events-nav__content">
                                <div class="events-nav__item events-nav__item_current">
                                    <a href="#" class="events-nav__name events-nav__name_sport events-nav__name_current"><span>Магис-Спорт</span></a>
                                    <div class="events-nav__toggle">
                                        <ul class="events-nav__list">
                                            <li class="events-nav__section events-nav__section_active">
                                                <a href="#">Все события</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Новости</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Акции</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Фотоотчёты</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Мероприятия</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Наши достижения</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="events-nav__item">
                                    <a href="#" class="events-nav__name events-nav__name_kids">Магис-Dети</a>
                                </div>
                                <div class="events-nav__item">
                                    <a href="#" class="events-nav__name events-nav__name_spa">Магис-SPA</a>
                                </div>
                            </div>

                            <div class="events-nav__toggle events-nav__toggle_mobile">
                                <ul class="events-nav__list">
                                    <li class="events-nav__section events-nav__section_active">
                                        <a href="#">Все события</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Новости</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Акции</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Фотоотчёты</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Мероприятия</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Наши достижения</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="instagram instagram_events block">
            <div class="instagram__wrapper block__wrapper">
                <div class="instagram__content">
                    <div class="instagram__col instagram__col_left">

                        <div class="instagram__header">
                            <h1 class="instagram__title">В Инстаграме</h1>
                            <a href="#" target="_blank" class="instagram__title link">#Магисспорт</a>
                        </div>

                        <div class="instagram__main">
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>magis_plaza</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-1.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>yana_kungurova21</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-2.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>yana_kungurova21</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-3.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>di_chern</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-4.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>magis_sport</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-5.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>daryaus</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="instagram__col instagram__col_right">
                        <div class="instagram__header">

                            <div class="socials socials_events">
                                <a href="#" target="_blank" class="socials__item socials__item_fb"></a>
                                <a href="#" target="_blank" class="socials__item socials__item_vk"></a>
                                <a href="#" target="_blank" class="socials__item socials__item_ok"></a>
                            </div>

                        </div>
                        <div class="instagram__main">
                            <div class="instagram__descr">
                                Занимаетесь и есть что показать?
                            </div>
                            <div class="instagram__text">
                                Публикуйте фото и видео с тэгом <a href="#" class="link">#магисспорт</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
