{% for item in list %}

    <div class="events-item events-item_photos">
        <div class="events-item__header">
            <a href="{{ path('news_once', {slug: item.slug}) }}" class="events-item__img">
                <img src="{{ item.imageUrl }}" alt="">
                {#<div class="events-item__amount">+10</div>#}
            </a>
            <a href="#" class="events-item__photos">
                {#<div class="events-item__photo" style="background-image: url('/images/temp/events-5.jpg')"></div>
                <div class="events-item__photo" style="background-image: url('/images/temp/events-6.jpg')"></div>
                <div class="events-item__photo" style="background-image: url('/images/temp/events-7.jpg')"></div>
                <div class="events-item__photo" style="background-image: url('/images/temp/events-8.jpg')"></div>
                <div class="events-item__amount">+10</div>#}
            </a>
        </div>
        <div class="events-item__title"><a href="{{ path('news_once', {slug: item.slug}) }}" class="events-item__link">{{ item.title }}</a></div>
        <p>
            {{ item.description }}
        </p>
        <div class="events-item__descr">
            <div class="events-item__info events-item__info_date">{#{{ item.createdAt }}#} Пока что так</div>
        </div>
        <div class="events-item__tags">
            <a href="#" class="events-item__tag events-item__tag_violet events-item__tag_filled"><span>{{ item.metaDescription }}</span></a>
            <a href="#" class="events-item__tag events-item__tag_grey"><span>{{ item.metaKeywords }}</span></a>
            <a href="#" class="events-item__tag events-item__tag_yellow"><span>{{ item.metaTitle }}</span></a>
        </div>
    </div>

{% endfor %}

    <div class="events-list__action">
        {#<button type="button" class="button button_more"><span>Еще {{ item.getNbResults }} событий</span> 21.09 — 30.09</button>#}
    </div>

{% for page in pages %}

    {% if page == current_page %}

        <b class="pagination_body pagination_secondary_yellow">{{ page }}</b>

    {% else %}

        <a class="pagination_body pagination_secondary_grey" href="/news/?page={{ page }}" data-page="{{ page }}" js-pager>{{ page }}</a>

    {% endif %}

{% endfor %}