{% extends 'base.html.twig' %}

{% block content %}
    <div class="article">
        <div class="article-body block">
            <div class="article-body__wrapper block__wrapper">

                <div class="article-about">
                    <div class="article-about__header">
                        <div class="crumbs crumbs_article">
                            <a href="{{ path('news_index') }}" class="crumbs__item">Все события</a>
                        </div>
                    </div>
                    <div class="article-about__descr">
                        <h1 class="article__title">{{ inform.title }}</h1>
                    </div>

                    <div class="events-item events-item_article">
                        <div class="events-item__descr">
                            <div class="events-item__info events-item__info_date">{{ date.prettyDate(inform.createdAt) }}</div>
                        </div>
                        <div class="events-item__tags">
                            <a href="#" class="events-item__tag events-item__tag_turquoise events-item__tag_filled"><span>{{ inform.metaDescription }}</span></a>
                            <a href="#" class="events-item__tag events-item__tag_pink"><span>{{ inform.metaKeywords }}</span></a>
                            <a href="#" class="events-item__tag events-item__tag_blue"><span>{{ inform.metaTitle }}</span></a>
                        </div>
                    </div>
                </div>

                <div class="article-widgets">

                    <div class="article-widget article-widget_text size-1">
                        {{ inform.content | raw }}
                    </div>

                    <div class="article-widget article-widget_image size-2">
                        <div class="article-img">
                            <img class="article-img__photo" src="{{ inform.imageUrl }}" alt="">
                        </div>
                    </div>


                    <div class='article-widget article-widget_highlight size-3'>
                        <div class="article-highlight article-highlight_icon article-highlight_icon_weight">
                            <div class="article-highlight__text">
                                <p>
                                    {{ inform.description }}
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="article-widget article-widget_form size-3">
                        <div class="article-form">
                            <div class="article-form__col article-form__col_left">

                                <div class="article-form__title">Отправить сообщение</div>

                                <div class="form form_article">
                                    {{ form.render('decisive_form') | raw }}
                                </div>

                                <div class="article-form__title">Отправить сообщение</div>

                                <div class="form form_article">
                                    {{ form.render('decisive_form') | raw }}
                                </div>

                            </div>
                            <div class="article-form__col article-form__col_right">
                                <div class="article-form-info">
                                    <div class="article-form-info__title">Добрый день!</div>
                                    <div class="article-form-info__text">
                                        Если у вас возникли
                                        вопросы, вы можете задать их
                                        отправив нам сообщение или
                                        позвонить по телефонам
                                    </div>

                                    <div class="header__contacts header__contacts_article">
                                        <div class="header__contacts-phone">
                                            <a href="tel:+7 (3852) 535-525" >+7 (3852) <span>535-525</span></a>
                                        </div>
                                        <div class="header__contacts-phone">
                                            <a href="tel:+7 (3852) 538-333">+7 (3852) <span>538-333</span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="article-widget article-widget_share size-1">
                        <div class="share">
                            <script src="https://yastatic.net/share2/share.js"></script>
                            <div class="share__title">Поделиться в соц. сетях</div>
                            <div class="share__list">
                                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter" data-counter=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="article-actions">
                <a href="#" class="article-link">
                    <div class="article-link__bg" style="background-image: url('/images/temp/article-link.jpg')"></div>

                    <div class="article-link__wrapper">
                        <div class="article-link__time"><span>18 ноября</span></div>
                        <div class="article-link__title"><span>Фитнес-тур в Белокуриху. Ваши потрясающие каникулы</span></div>
                        <div class="article-link__text">Игровой, тренажёрный и фитнес залы,
                            персональные тренировки и групповые программы
                        </div>
                    </div>
                </a>

                <a href="#" class="article-link">
                    <div class="article-link__bg" style="background-image: url('/images/temp/article-link.jpg')"></div>

                    <div class="article-link__wrapper">
                        <div class="article-link__time"><span>12 ноября</span></div>
                        <div class="article-link__title"><span>Новые групповые уроки на Взлетной: открытые занятия бесплатно!</span></div>
                        <div class="article-link__text">Игровой, тренажёрный и фитнес залы,
                            персональные тренировки и групповые программы
                        </div>
                    </div>
                </a>

                <a href="#" class="article-link">
                    <div class="article-link__bg" style="background-image: url('/images/temp/article-link.jpg')"></div>

                    <div class="article-link__wrapper">
                        <div class="article-link__time"><span>13 ноября</span></div>
                        <div class="article-link__title"><span>Победители конкурса «NEW LOOK» от «Магис SPA»</span></div>
                        <div class="article-link__text">Игровой, тренажёрный и фитнес залы,
                            персональные тренировки и групповые программы
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
{% endblock %}





{#{% extends 'base.html.twig' %}

{% block content %}
    <div class="events">
        <div class="events__wrapper block">
            <div class="events__content block__wrapper">

                <h1 class="events__title">{{ inform.title }}</h1>

                <div class="events__cols">
                    <div class="events__col events__col_left">

                        <div class="events-list">
                            <div class="events-item events-item_photos">
                                <div class="events-item__header">
                                    <img src="{{ inform.imageUrl }}" alt="">
                                </div>
                                <p>
                                    {{ inform.content | raw }}
                                </p>
                                <div class="events-item__descr">
                                    <div class="events-item__info events-item__info_date">{{ date.prettyDate(inform.createdAt) }}</div>
                                </div>
                                <div class="events-item__tags">
                                    <a href="#" class="events-item__tag events-item__tag_violet events-item__tag_filled"><span>{{ inform.metaDescription }}</span></a>
                                    <a href="#" class="events-item__tag events-item__tag_grey"><span>{{ inform.metaKeywords }}</span></a>
                                    <a href="#" class="events-item__tag events-item__tag_yellow"><span>{{ inform.metaTitle }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="events__col events__col_right">

                        <div class="events-nav">
                            <div class="events-nav__content">
                                <div class="events-nav__item events-nav__item_current">
                                    <a href="#" class="events-nav__name events-nav__name_sport events-nav__name_current"><span>Магис-Спорт</span></a>
                                    <div class="events-nav__toggle">
                                        <ul class="events-nav__list">
                                            <li class="events-nav__section events-nav__section_active">
                                                <a href="#">Все события</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Новости</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Акции</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Фотоотчёты</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Мероприятия</a>
                                            </li>
                                            <li class="events-nav__section">
                                                <a href="#">Наши достижения</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="events-nav__item">
                                    <a href="#" class="events-nav__name events-nav__name_kids">Магис-Dети</a>
                                </div>
                                <div class="events-nav__item">
                                    <a href="#" class="events-nav__name events-nav__name_spa">Магис-SPA</a>
                                </div>
                            </div>

                            <div class="events-nav__toggle events-nav__toggle_mobile">
                                <ul class="events-nav__list">
                                    <li class="events-nav__section events-nav__section_active">
                                        <a href="#">Все события</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Новости</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Акции</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Фотоотчёты</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Мероприятия</a>
                                    </li>
                                    <li class="events-nav__section">
                                        <a href="#">Наши достижения</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="instagram instagram_events block">
            <div class="instagram__wrapper block__wrapper">
                <div class="instagram__content">
                    <div class="instagram__col instagram__col_left">

                        <div class="instagram__header">
                            <h1 class="instagram__title">В Инстаграме</h1>
                            <a href="#" target="_blank" class="instagram__title link">#Магисспорт</a>
                        </div>

                        <div class="instagram__main">
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>magis_plaza</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-1.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>yana_kungurova21</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-2.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>yana_kungurova21</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-3.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>di_chern</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-4.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>magis_sport</span>
                                    </div>
                                </a>
                            </div>
                            <div class="instagram__item">
                                <a href="#" target="_blank" class="instagram__link" style="background-image: url('/images/insta/insta-strip-5.jpg')"></a>
                                <a href="#" target="_blank" class="instagram__name">
                                    <div class="instagram__name__overlay"></div>
                                    <div class="instagram__name__content">
                                        <span>daryaus</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="instagram__col instagram__col_right">
                        <div class="instagram__header">

                            <div class="socials socials_events">
                                <a href="#" target="_blank" class="socials__item socials__item_fb"></a>
                                <a href="#" target="_blank" class="socials__item socials__item_vk"></a>
                                <a href="#" target="_blank" class="socials__item socials__item_ok"></a>
                            </div>

                        </div>
                        <div class="instagram__main">
                            <div class="instagram__descr">
                                Занимаетесь и есть что показать?
                            </div>
                            <div class="instagram__text">
                                Публикуйте фото и видео с тэгом <a href="#" class="link">#магисспорт</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}#}
