{% extends 'base.html.twig' %}

{% block content %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        Вы уже авторизировались!
    {% else %}
        <div class="body__content">
            <form action="/login/" method="post" class="test_form">
                <label class="input is-input" js-input>
                    <input class="input__self" type="text" name="login">
                    <span class="input__label">login</span>
                </label>

                <label class="input is-input" js-input>
                    <input class="input__self" type="password" name="password">
                    <span class="input__label">password</span>
                </label>

                <div class="form__actions">
                    <button class="button button_full button_big" type="submit" js-auth><span>Войти</span></button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}