<!DOCTYPE html>
<html class='{% block pageMod %}{% endblock %}'>
<head>
    <meta name='viewport' content='width=device-width'>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>{{ creonit_page.activePage.metaTitle }}</title>
    {% block meta %}{% endblock %}
    <link rel='stylesheet' href='/css/vendor.css'>
    <link rel='stylesheet' href='/css/common.css'>
    {% block styles %}{% endblock %}
    <script src='/js/vendor.js'></script>
    <script src='/js/common.js'></script>

    {% block scripts %}{% endblock %}
</head>
<body class='body'>
<div class='body__wrapper'>

    {% include 'header.twig' with {mod: block('headerMod')} %}

    {% block upper_content %}{% endblock %}
    <div class='body__content'>
        {% block content %}{% endblock %}
    </div>
    {% include 'footer.twig' %}
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBFaCGwOBM0oq4HhtDm-ssg0wUTLk8P3xA&callback=initMap"></script>
</body>
</html>
