{% for item in cartList %}
    <div class='once_cart_item' data-id='{{ item['product'].id }}'>
        <img src='{{ image(item['product'].imageRelativeUrl).zoomCrop(200, 200) }}'>
        <div class='info_cart_item'>
            <div class='title_cart_item'>
                <b>{{ item['product'].title }}</b>
            </div>
            <div class='description_cart_item'>
                {{ item['product'].description }}
            </div>
        </div>
        <div class='total_cart_info'>
            <div class='price_cart_item'>{{ item['product'].price }}</div>
            <div id='{{ item['product'].id }}' class='total_cart_item'>
                <button class='check_out_button' js-product-update>+</button>
                <span>{{ item['quantity'] }}шт.</span>
                <button class='check_out_button' js-product-update>-</button>
                <button class='remove_item' js-product-delete>Удалить</button>
            </div>
        </div>
    </div>
{% endfor %}
    <div class="total_cart">
        <i>У Вас </i>
        <b>{{ total.quantity }}</b>
        <i> товаров на сумму </i>
        <b>{{ total.amount }}</b>
        <i> рублей</i>
    </div>
    <div class="order">
        <a class="order_button" href="/order/">Оформить заказ</a>
    </div>