{% for item in item %}
    <div class='once_cart_item' data-id='{{ item['product'].id }}'>
        {#<img src='{{ image(item['product'].imageRelativeUrl).crop( 572, 87, 100, 170) }}'>#}
        <div class='info_cart_item'>
            <div class='title_cart_item'>
                <b>{{ item['product'].title }}</b>
            </div>
            {#<div class='description_cart_item'>
                {{ item['product'].description }}
            </div>#}
        </div>
        <div class='total_cart_info'>
            <div class='price_cart_item'>{{ item['product'].price }}</div>
            <div id='{{ item['product'].id }}' class='total_cart_item'>
                <span>{{ item['quantity'] }}шт.</span>
            </div>
        </div>
    </div>
{% endfor %}
<div class="total_cart">
    <i>У Вас </i>
    <b>{{ params.quantity }}</b>
    <i> товаров на сумму </i>
    <b>{{ params.amount }}</b>
    <i> рублей</i>
    <i> + доставка </i>
    <b> {{ params.deliveryPrice }} </b>
</div>
<div class="total_cart">
    <i>ИТОГО: </i>
    <b>{{ params.total }}</b>
</div>

<div class="order">
    <button class="order_button" js-order>Оформить</button>
</div>