{% extends 'base.html.twig' %}
{% block content %}
    <div class="order_cart">
        <div class="cards__wrapper block__wrapper">
            <div class="filter__wrapper">
                <h1 class="cards__title"> Оформление заказа </h1>
                <div js-filter-icon class="filter__icon"></div>
            </div>
                <div class="filter__lath filter__lath_cards"></div>
                <div js-filter class="cards-filter filter__item">
                    <p>Корзина</p>
                    <div class='cart_item'>
                        <div class="total_cart">
                            <i>Для оформления заказа </i>
                            <b>Вам</b>
                            <i> необходимо добавить </i>
                            <b>какие-либо товары </b>
                            <i> в корзину</i>
                        </div>
                        <div class="total_cart">
                            <i>Сделать это можно </i>
                            <a href="/product/"><b>здесь</b></a>
                        </div>
                    </div>
                </div>
        </div>

    </div>
{% endblock %}