<form>
    <label class="input is-error" js-input>
        <input class="input__self" type="text">
        <span class="input__label">Представьтесь</span>
        <span class="input__error">Укажите имя</span>
    </label>

    <label class="input is-error" js-input>
        <input class="input__self" data-masked="phone" type="text">
        <span class="input__label">Номер телефона</span>
        <span class="input__error">Необходимо указать номер телефона</span>
    </label>

    <label class="input input_textarea" js-input>
        <textarea class="input__self" type="text"></textarea>
        <span class="input__label">Дополнительно</span>
    </label>

    <div class="form__actions">
        <button class="button button_full button_big" type="submit"><span>Отправить</span></button>
    </div>
</form>