<div js-header class="header {{ mod }} block">
    <div class="header__wrapper block__wrapper">

        <div class="header__top block">
            <div class="header__top-content block__wrapper">

                <div class="header__nav">
                    <a js-header-logo-small href="/" class="header__logo header__logo_small"></a>

                    <a href="#" class="header__nav-item header__nav-item_active">
                        <div class="header__nav-text">спорт</div>
                    </a>
                    <a href="#" class="header__nav-item">
                        <div class="header__nav-text">spa</div>
                    </a>
                    <a href="#" class="header__nav-item">
                        <div class="header__nav-text">дети</div>
                    </a>

                </div>

                <div class="header__actions">
                    <a href="/logout/" class="header__mail">
                        <div class="header__icon"></div>
                        <span>Выйти</span>
                    </a>
                    <a href="/office/" class="header__dashboard">
                        <div class="header__icon"></div>
                        <span>Личный кабинет</span>
                    </a>

                    <div class="header__burger">
                        <div class="header__burger-wrapper">
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="header__middle">
            <a js-header-logo-main href="/" class="header__logo"></a>

            <div class="header__contacts">
                <div class="header__contacts-phone">
                    <a href="tel:+7 (3852) 535-525">+7 (3852) <span>535-525</span></a>
                    <div class="header__contacts-text">Взлетная</div>
                </div>
                <div class="header__contacts-phone">
                    <a href="tel:+7 (3852) 538-333">+7 (3852) <span>538-333</span></a>
                    <div class="header__contacts-text header__contacts-text_right">Плаза</div>
                </div>
            </div>

            <div class="header__action">
                {% if mod %}
                    {# На боевом можно будет оставить только это условие, просто потому что Твиг не может одновременно проверить наличие переменной и строки в ней, без ощибки #}
                    <a
                            class="button button_round {{ ('header_white' in mod) ? 'button_gray' : '' }}">Привет,
                    </a>
                {% else %}
                    <a href="/auth/" class="button button_round">Авторизоваться</a>
                {% endif %}
            </div>
        </div>

        <div class="header__bottom">
            <div class="header__menu">
                <div class="header__menu-item header__menu-item_active"><a class="header__menu-item__name" href="/product/">Клубные карты</a></div>
                <div class="header__menu-item"><a class="header__menu-item__name" href="/services-index.html">Услуги</a></div>
                <div class="header__menu-item"><a class="header__menu-item__name" href="#">Клубы</a></div>
                <div class="header__menu-item"><a class="header__menu-item__name" href="/news/">События</a></div>
                <div class="header__menu-item header__menu-item_highlight header__menu-item_icon-date"><a class="header__menu-item__name" href="#">Расписание</a></div>
            </div>
            <div class="header__menu header__menu_burger">
                <a href="/cards.html" class="header__menu-item"><span class="header__menu-item__name">Клубные карты</span></a>
                <a href="/services-index.html" class="header__menu-item"><span class="header__menu-item__name">Услуги</span></a>
                <a href="#" class="header__menu-item"><span class="header__menu-item__name">Клубы</span></a>
                <a href="#" class="header__menu-item"><span class="header__menu-item__name">События</span></a>
                <a href="#" class="header__menu-item header__menu-item_highlight header__menu-item_icon-date"><span class="header__menu-item__name">Расписание</span></a>
            </div>
        </div>

    </div>
    <div class="header__bg"></div>
</div>
