{% extends 'base.html.twig' %}

{% block content %}
    <div class="schedule schedule_filter filter block">
        <div class="schedule__wrapper block__wrapper">
            <div class="filter__wrapper">
                <div class="schedule__select">

                        {#<h1 class="schedule__select-title">История заказов</h1>#}

                        <h1 class="schedule__select-title">Личные данные</h1>
                        <br>
                        <div>
                            <ul>
                                <li><b>Фамилия, имя, отчество:</b> {{ user.fio }}</li>
                                <li><b>Адрес доставки:</b> {{ user.locality }}</li>
                                <li><b>E-mail:</b> {{ user.email }}</li>
                                <li><b>Номер телефона:</b> {{ user.phone }}</li>
                            </ul>
                        </div>
                        <div>
                            <a js-orders-history href="/office/orders/">История заказов</a>
                            <a js-orders-history href="/office/">Назад</a>
                        </div>


                </div>

            </div>
        </div>
    </div>
    <div class="schedule_table block">
        <div class="schedule__wrapper block__wrapper">
            {% if item is empty %}

            {% else %}

                {% include 'order_table.html.twig' with {item: item} %}

            {% endif %}
        </div>
    </div>
{% endblock %}