<div class="schedule-table">
{% for item in item %}
    <div class="schedule-table__main">
        <div js-schedule-table-row="1" class="schedule-table__main-row schedule-table__main-row_day"></div>

        <div js-schedule-table-row="2" class="schedule-table__main-row schedule-table__main-row_time">
            <div class="schedule-column schedule-column_border schedule-column_time schedule-table__main-item">
                <div class="schedule-column__cell">
                    <div class="schedule-column__cell-time">
                        <a href="{{ path('alone', {slug: item.id}) }}">№ {{ item.id }}</a>
                    </div>
                </div>
            </div>

            <div js-column-day="1"
                 class="schedule-column schedule-column_border  schedule-column_day schedule-table__main-item">
                <div class="schedule-column__cell schedule-column__cell_task schedule-column__cell_border">
                    <div class="schedule-lesson schedule-lesson_status-green schedule-column__cell-lesson">
                        <div class="schedule-lesson__title">
                            {{ item.orderStatus.status }}
                        </div>
                    </div>
                </div>
            </div>

            <div js-column-day="3"
                 class="schedule-column schedule-column_border schedule-column_day schedule-table__main-item">
                <div class="schedule-column__cell schedule-column__cell_task schedule-column__cell_border">
                    <div class="schedule-lesson schedule-lesson_status-green schedule-column__cell-lesson">
                        <div class="schedule-lesson__title">
                            {{ item.orderState.state }}
                            {% if item.stateId == 1 and (item.statusId != 4 and item.statusId != 5) %}
                                <div><button>Оплатить</button></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div js-column-day="4"
                 class="schedule-column schedule-column_border schedule-column_day schedule-table__main-item">
                <div
                        class="schedule-column__cell schedule-column__cell_task schedule-column__cell_border">
                    <div class="schedule-lesson schedule-lesson_status-green schedule-column__cell-lesson">
                        <div class="schedule-lesson__title">Стоимость заказа: {{ item.amount }} рублей</div>
                        <div class="schedule-lesson__description">Стоимость доставки: {{ item.deliveryPrice }} рублей</div>
                        <div class="schedule-lesson__description">Итого {{ item.total }} рублей</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endfor %}

    {% for page in pages %}

        {% if page == current_page %}

            <b class="pagination_body pagination_secondary_yellow">{{ page }}</b>

        {% else %}

            <a class="pagination_body pagination_secondary_grey" href="/news/?page={{ page }}" data-page="{{ page }}" js-order-pager>{{ page }}</a>

        {% endif %}

    {% endfor %}

</div>