{% extends 'base.html.twig' %}
{% block content %}
    <div class="order_cart">
        <div class="cards__wrapper block__wrapper">
            <div class="filter__wrapper">
                <h1 class="cards__title"> Оформление заказа </h1>
                <div js-filter-icon class="filter__icon"></div>
            </div>

                <form action="/order/confirm/" method="POST" js-form-order>
                    <label class="input" js-input>
                        <input class="input__self" type="text" name="fio">
                        <span class="input__label">Представьтесь</span>
                    </label>
                    <label class="input" js-input>
                        <select name="country" class="input select">
                            <option value="0" class="input__self">Выберите страну</option>
                            <option value="Abhaziya" class="input__self">Абхазия</option>
                            <option value="Boliviya" class="input__self">Боливия</option>
                            <option value="Valakalamsk" class="input__self">Валакаламск</option>
                            <option value="Greciya" class="input__self">Греция</option>
                            <option value="Rumyniya" class="input__self">Румыния</option>
                            <option value="Rossiya" class="input__self">Россия</option>
                            <option value="SSHA" class="input__self">США</option>
                        </select>
                    </label>
                    <label class="input" js-input>
                        <input class="input__self" type="text" name="locality">
                        <span class="input__label">Адрес доставки</span>
                    </label>
                    <label class="input" js-input>
                        <input class="input__self" type="text" name="email">
                        <span class="input__label">E-mail</span>
                    </label>
                    <label class="input" js-input>
                        <input class="input__self" type="text" name="phone" data-masked="phone">
                        <span class="input__label">Номер телефона</span>
                    </label>
                    <label class="input" js-input>
                        <select name="delivery" class="input select">
                            <option value="0" class="input__self">Выберите способ доставки</option>
                            <option value="cdec" class="input__self">CDEC - 3800</option>
                            <option value="russian_post" class="input__self">Russian Post - 2100</option>
                            <option value="dpp" class="input__self">DPP - 4500</option>
                        </select>
                    </label>
            <hr>


            <div class="filter__lath filter__lath_cards"></div>
            <div js-filter class="cards-filter filter__item">
                <p>Корзина</p>
                <div class='cart_item'>
                    {% include 'cart_order.html.twig' with {item: item, params: params} %}
                </div>
            </div>
        </div>

        </form>

    </div>
{% endblock %}