{% extends 'base.html.twig' %}
{% block content %}
    <div class="cards block">
        <div class="cards__wrapper block__wrapper">
            <div class="filter__wrapper">
                <h1 class="cards__title"> Клубные карты </h1>
                <div js-filter-icon class="filter__icon"></div>
            </div>
            <div class="filter__lath filter__lath_cards"></div>
            <div js-filter class="cards-filter filter__item">
                <p>Корзина</p>
                <div class='cart_item'>
                    {% include 'cart_product.html.twig' with {cartList: cartList, total: total} %}
                </div>
            </div>
        <div class="cards__wrapper cards__wrapper_club block__wrapper">
            {% for item in product %}
            <div class="card-club card-club_purple" data-product-id="{{ item.id }}">
                <div class="card-club__title">
                    <div class="card-club__title-text">
                        {{ item.title }}
                    </div>
                    <div class="card-club__title-icon card-club__title-icon_vzletnaja">

                    </div>
                    <div class="card-club__title-icon card-club__title-icon_sale">

                    </div>
                </div>

                <div class="card-club__conditions-wrapper">
                    <img src="{{ item.imageurl }}">
                </div>
                <div class="card-club__options-wrapper">
                    {{ item.description }}
                </div>
                <div class="card-club__footer">
                    <button id="{{ item.id }}" class="card-club__footer-button card-club__footer-button_purple" name="price" js-product-add>{{ item.price }} рублей</button>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}