{% block content %}
    <div class="order_cart">
        <div class="cards__wrapper block__wrapper">


            <div class="filter__wrapper">
                <h1 class="cards__title"> Заказ оформлен </h1>
                <div js-filter-icon class="filter__icon"></div>
            </div>

            <div class="filter__lath filter__lath_cards"></div>
            <div js-filter class="cards-filter filter__item">
                <div class='cart_item'>
                    <div class="success">

                            <div class="title">Уважаемый(ая) {{ params['fio'] }},</div>
                            <div class="thanks">
                                Спасибо Вам за Ваш заказ. Наш оператор в ближайшее время свяжется с Вами для обсуждения дальнейших действий.
                                Ваш @Magis-Sport.ru
                            </div>
                            <div class="order_info">
                                Адрес доставки: {{ params['locality'] }} <br>
                                E-mail: {{ params['email'] }} <br>
                                Номер телефона: {{ params['phone'] }} <br>
                                Способ доставки: {{ params['delivery'] }} <br>
                            </div>

                        <div class="title">Ваш заказ: </div>
                            {% for item in item %}
                                <div class='once_cart_item' data-id='{{ item['product'].id }}'>
                                    <img src='{{ image(item['product'].imageRelativeUrl).zoomCrop(200, 200) }}'>
                                    <div class='info_cart_item'>
                                        <div class='title_cart_item'>
                                            <b>{{ item['product'].title }}</b>
                                        </div>
                                        <div class='description_cart_item'>
                                            {{ item['product'].description }}
                                        </div>
                                    </div>
                                    <div class='total_cart_info'>
                                        <div class='price_cart_item'>{{ item['product'].price }}</div>
                                        <div id='{{ item['product'].id }}' class='total_cart_item'>
                                            <span>{{ item['quantity'] }}шт.</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        <div class="title">Общая сумма заказа: {{ params['total'] }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}