{% extends 'base.html.twig' %}

{% block content %}
    <div class="order_cart">
        <div class="cards__wrapper block__wrapper">


            <div class="filter__wrapper">
                <h1 class="cards__title"> Ваш заказ </h1>
                <div js-filter-icon class="filter__icon"></div>
            </div>

            <div class="filter__lath filter__lath_cards"></div>
            <div js-filter class="cards-filter filter__item">
                <div class='cart_item'>
                    <div class="success">
                        <div class="title">Уважаемый(ая) {{ item['order'].fio }},</div>
                        <div class="thanks">
                            Информация по Вашему заказу
                        </div>
                        <div class="order_info">
                            Адрес доставки: {{ item['order'].locality }} <br>
                            E-mail: {{ item['order'].email }} <br>
                            Номер телефона: {{ item['order'].phone }} <br>
                            Способ доставки: {{ item['delivery'] }} <br>
                        </div>

                    <div class="title">Ваш заказ: </div>
                    {% for item in item['item'] %}
                        <div class='once_cart_item' {#data-id='{{ item.id }}#}'>
                            <img src='{{ image(item.product.imageRelativeUrl).zoomCrop(200, 200) }}'>
                            <div class='info_cart_item'>
                                <div class='title_cart_item'>
                                    <b>{{ item.product.title }}</b>
                                </div>
                                <div class='description_cart_item'>
                                    {{ item.product.description }}
                                </div>
                            </div>
                            <div class='total_cart_info'>
                                <div class='price_cart_item'>{{ item.price }}</div>
                                <div id='{{ item.id }}' class='total_cart_item'>
                                    <span>{{ item.quantity }}шт.</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="title">Стоимость заказа: {{ item['order'].amount }}</div>
                    <div class="title">Стоимость доставки: {{ item['order'].deliveryPrice }}</div>
                    <div class="title">Итого: {{ item['order'].total }}</div>
                </div>
            </div>
        </div>

    </div>
    </div>
{% endblock %}