{% extends 'base.html.twig' %}

{% block upper_content %}

    <div js-presented class='presented'>
        <div class='presented__wrapper'>
            <div js-presented-list class='presented__list'>
                <a class='presented__item' href='#'>
                    <div class='presented__item-desktop' style='background-image: url(images/temp/presented-1.jpg);'></div>
                    <div class='presented__item-phone' style='background-image: url(images/temp/presented-1-1.jpg);'></div>
                </a>
                <a class='presented__item' href='#'>
                    <div class='presented__item-desktop' style='background-image: url(images/temp/presented-1.jpg);'></div>
                    <div class='presented__item-phone' style='background-image: url(images/temp/presented-1-1.jpg);'></div>
                </a>
                <a class='presented__item' href='#'>
                    <div class='presented__item-desktop' style='background-image: url(images/temp/presented-1.jpg);'></div>
                    <div class='presented__item-phone' style='background-image: url(images/temp/presented-1-1.jpg);'></div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}



{% block content %}

    <div js-billboard class='billboard'>
        <div js-billboard-bg class='billboard__bg'></div>
        <div js-billboard-nav class='billboard__nav'>
            <div class='billboard__nav-bar'>
                <span class='billboard__nav-bar-number'>01</span>
            </div>
        </div>
        <div class='billboard__list'>
            <div js-billboard-item class='is-active billboard-slide billboard-slide_theme_lilac billboard__list-item'>
                <div class='billboard-slide__left'>
                    <div class='billboard-slide__content'>
                        <div class='billboard-slide__content-wrapper'>
                            <h2 class='billboard-slide__title'>76 видов групповых программ</h2>
                            <div class='billboard-slide__descr'>
                                <p>Групповые программы параллельно проходят в&nbsp;нескольких залах и&nbsp;в&nbsp;бассейне. Mind&nbsp;&amp;&nbsp;Body, силовые, аэробные, функциональные направления, танцевальные занятия&nbsp;&mdash; 76&nbsp;видов тренировок, включая самые популярные и&nbsp;эффективные.</p>
                            </div>
                        </div>
                    </div>
                    <div class='billboard-slide__bg'></div>
                </div>
                <div class='billboard-slide__right'>
                    <div class='billboard-slide__content'>
                        <div class='billboard-slide__content-wrapper'>
                            <div class='billboard-slide__descr'>
                                <p>Групповые программы параллельно проходят в&nbsp;нескольких залах и&nbsp;в&nbsp;бассейне. Силовые, аэробные, Mind &amp;&nbsp;Body, функциональные направления, танцевальные занятия&nbsp;&mdash; 76&nbsp;видов тренировок, включая самые популярные и&nbsp;эффективные.</p>
                            </div>
                        </div>
                    </div>
                    <div class='billboard-slide__image' style='background-image: url(images/temp/billboard-01.jpg);'></div>
                </div>
            </div>
            <div js-billboard-item class='billboard-slide billboard-slide_theme_blue billboard__list-item'>
                <div class='billboard-slide__left'>
                    <div class='billboard-slide__content'>
                        <div class='billboard-slide__content-wrapper'>
                            <h2 class='billboard-slide__title'>76 видов групповых программ</h2>
                            <div class='billboard-slide__descr'>
                                <p>Групповые программы параллельно проходят в&nbsp;нескольких залах и&nbsp;в&nbsp;бассейне. Mind&nbsp;&amp;&nbsp;Body, силовые, аэробные, функциональные направления, танцевальные занятия&nbsp;&mdash; 76&nbsp;видов тренировок, включая самые популярные и&nbsp;эффективные.</p>
                            </div>
                        </div>
                    </div>
                    <div class='billboard-slide__bg'></div>
                </div>
                <div class='billboard-slide__right'>
                    <div class='billboard-slide__content'>
                        <div class='billboard-slide__content-wrapper'>
                            <div class='billboard-slide__descr'>
                                <p>Групповые программы параллельно проходят в&nbsp;нескольких залах и&nbsp;в&nbsp;бассейне. Силовые, аэробные, Mind &amp;&nbsp;Body, функциональные направления, танцевальные занятия&nbsp;&mdash; 76&nbsp;видов тренировок, включая самые популярные и&nbsp;эффективные.</p>
                            </div>
                        </div>
                    </div>
                    <div class='billboard-slide__image' style='background-image: url(images/temp/billboard-01.jpg);'></div>
                </div>
            </div>
            <div js-billboard-item class='billboard-slide billboard-slide_theme_pink billboard__list-item'>
                <div class='billboard-slide__left'>
                    <div class='billboard-slide__content'>
                        <div class='billboard-slide__content-wrapper'>
                            <h2 class='billboard-slide__title'>76 видов групповых программ</h2>
                            <div class='billboard-slide__descr'>
                                <p>Групповые программы параллельно проходят в&nbsp;нескольких залах и&nbsp;в&nbsp;бассейне. Mind&nbsp;&amp;&nbsp;Body, силовые, аэробные, функциональные направления, танцевальные занятия&nbsp;&mdash; 76&nbsp;видов тренировок, включая самые популярные и&nbsp;эффективные.</p>
                            </div>
                        </div>
                    </div>
                    <div class='billboard-slide__bg'></div>
                </div>
                <div class='billboard-slide__right'>
                    <div class='billboard-slide__content'>
                        <div class='billboard-slide__content-wrapper'>
                            <div class='billboard-slide__descr'>
                                <p>Групповые программы параллельно проходят в&nbsp;нескольких залах и&nbsp;в&nbsp;бассейне. Силовые, аэробные, Mind &amp;&nbsp;Body, функциональные направления, танцевальные занятия&nbsp;&mdash; 76&nbsp;видов тренировок, включая самые популярные и&nbsp;эффективные.</p>
                            </div>
                        </div>
                    </div>
                    <div class='billboard-slide__image' style='background-image: url(images/temp/billboard-01.jpg);'></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
